@import '../../../App.scss';

.Advice {
  width: 100%;
  background-color: $BGColor;
  display: flex;
  justify-content: center;

  .Container {
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $BPMedium) {
      width: 100%;
      max-width: $BPSmall;
    }

    .Grid {
      margin-top: 3rem;
      width: 100%;
      height: 32rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;

      @media (max-width: $BPMedium) {
        grid-template-columns: 1fr;
        height: auto;
      }

      .Item {
        width: 16rem;
        height: 10rem;
        background-color: rgb(241, 241, 241);
        box-shadow: 3px 3px 3px 1px rgb(145, 145, 145);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        @media (max-width: $BPMedium) {
          margin: 3rem 0 2rem 0;
        }

        h6 {
          margin-top: 1.2rem;
          width: 80%;
          font-size: 1.4rem;
          text-align: center;
          line-height: 1.4rem;
          height: 1.4rem;
        }

        .Points {
          margin-top: 0.5rem;
          height: 5.2rem;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: start;

          .PointLine {
            margin-top: 0.6rem;
            display: flex;

            .Point {
              margin: 0.4rem 0.5rem 0 0.5rem;
              width: 0.2rem;
              height: 0.2rem;
              border-radius: 0.5rem;
              background-color: black;
            }

            p {
              font-size: 0.9rem;
              width: 11.6rem;
            }
          }
        }
      }
    }
  }
}
