@import '../../../App.scss';

.Contact {
  width: 100%;
  height: auto;
  background-color: $BGColor;
  display: flex;
  justify-content: center;

  .Container {
    margin-bottom: 5rem;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $BPLarge) {
      width: $BPMedium;
    }

    &-1 {
      margin-top: 5rem;
      width: 100%;
      display: flex;

      .Info {
        margin: 1rem 0 0 3rem;
        display: flex;
        flex-direction: column;

        .Line {
          display: flex;
          margin-bottom: 0.7rem;
          align-items: center;

          img {
            margin-top: 0.2rem;
            margin-right: 0.9rem;
            width: 1.3rem;
            max-height: 1.1rem;
            object-fit: contain;
          }

          p {
            font-size: 0.9rem;
            margin-top: 0.2rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(50, 50, 50);
          }
        }
      }

      .Form {
        width: 50rem;
        display: flex;
        flex-direction: column;

        .Line {
          width: 100%;
          margin-bottom: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: start;

          .Col {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
              font-size: 1rem;
            }

            input {
              margin-top: 0.2rem;
              width: 100%;
              height: 2.7rem;
              padding: 0 0.5rem;
              font-size: 1.2rem;
              border-radius: 0.2rem;
            }
          }
        }

        .BoxLine {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: column;

          p {
            font-size: 1rem;
          }

          textarea {
            margin-top: 0.2rem;
            width: 100%;
            height: 8rem;
            border-radius: 0.2rem;
            padding: 0.3rem;
            font-size: 0.9rem;
            resize: none;
          }
        }

        .Button-1 {
          margin-top: 1.8rem;
          width: 10rem;
          height: 2.7rem;
          align-self: end;
        }
      }
    }
  }
}
