@import '../../../App.scss';

.CoverOverlay {
  width: 100%;
  height: 34rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-Large {
    height: 55rem;
  }

  @media (max-width: $BPMedium) {
    height: 25rem;
  }

  p {
    font-size: 4rem;
    text-align: center;
    color: white;
    margin-left: 60%;
    opacity: 0;
    display: hidden;
    width: 50rem;

    @media (max-width: $BPMedium) {
      font-size: 3rem;
    }

    @media (max-width: 720px) {
      font-size: 2rem;
    }

    @media (max-width: 485px) {
      font-size: 1.2rem;
    }
  }

  .Active {
    display: block;
    margin-left: 0rem;
    opacity: 1;
    transition: 0.7s;
  }
}
