@import '../../../App.scss';

.CoverOverlay {
  width: 100%;
  height: 34rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &-Large {
    height: 55rem;
  }

  @media (max-width: $BPMedium) {
    height: 25rem;
  }

  .Box {
    overflow: hidden;
  }

  p {
    position: absolute;
    font-size: 4rem;
    text-align: center;
    color: white;
    right: -100%;
    opacity: 0;
    background-color: red;
    max-width: 100%;
    width: 100%;

    @media (max-width: $BPMedium) {
      font-size: 3rem;
      width: 40rem;
    }

    @media (max-width: 720px) {
      font-size: 2rem;
      width: 30rem;
    }

    @media (max-width: 485px) {
      font-size: 1.2rem;
      width: 20rem;
    }
  }

  .Active {
    right: 0%;
    opacity: 1;
    transition: 0.7s;
  }
}
