// Window Object CSS
html {
  width: 100%;
  height: 100%;
  overflow-y: overlay;
  overflow-x: hidden;
}
body {
  min-height: 100%;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// All Objects CSS
* {
  cursor: default;
  margin: 0;
  padding: 0;
  margin: none;
  border: none;
  padding: none;
  outline: none;
  color: black;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: bebas-kai, sans-serif;
  font-weight: 400;
  font-style: normal;
}

// Scrollbar
::-webkit-scrollbar {
  background: transparent;
  width: 0.3rem;

  &-thumb {
    background: rgb(60, 72, 80);
    border-radius: 0.1rem;
    height: 20px;
  }
}

// Misc
a {
  color: black;
  text-decoration: none;
  cursor: pointer;

  &:active {
    color: black;
  }
}
button {
  cursor: pointer;
}

.Button-1 {
  width: 9.2rem;
  height: 2.8rem;
  border-radius: 0.2rem;
  border: solid 1px black;
  background-color: rgb(0, 233, 97);
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}

.Button-2 {
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
  background-color: rgb(0, 219, 91);
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
}

h3 {
  margin-top: 7.6rem;
  font-size: 2.2rem;
  text-decoration: underline;
}

// Variables
$BGColor: rgb(206, 210, 214);

// Fonts
@font-face {
  font-family: 'Mukta-Regular';
  src: url('~/src/Assets/Fonts/Mukta/Mukta-Regular.ttf');
}
@font-face {
  font-family: 'Mukta-Bold';
  src: url('~/src/Assets/Fonts/Mukta/Mukta-Bold.ttf');
}
@font-face {
  font-family: 'Mukta-ExtraBold';
  src: url('~/src/Assets/Fonts/Mukta/Mukta-ExtraBold.ttf');
}
@font-face {
  font-family: 'Mukta-ExtraLight';
  src: url('~/src/Assets/Fonts/Mukta/Mukta-ExtraLight.ttf');
}
@font-face {
  font-family: 'Mukta-Light';
  src: url('~/src/Assets/Fonts/Mukta/Mukta-Light.ttf');
}
@font-face {
  font-family: 'Mukta-Medium';
  src: url('~/src/Assets/Fonts/Mukta/Mukta-Medium.ttf');
}
@font-face {
  font-family: 'Mukta-SemiBold';
  src: url('~/src/Assets/Fonts/Mukta/Mukta-SemiBold.ttf');
}
